body {
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    top: 15%;
    background: -webkit-linear-gradient(left,	#48D1CC, #FFFACD);
    background: -o-linear-gradient(left, 	#48D1CC, #FFFACD);
    background-image: linear-gradient(to right, #48D1CC, #FFFACD); /* Standard syntax */
}

h1 {
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .3em;
    width: 100%;
}

h3 {
    font-family: sans-serif;
    font-size: 1em;
    color: rgba(0,0,0,.3);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
